@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap");

:root {
  --background: #fffffe;
  --headline: #272343;
  --button: #ffd803;
  --button-decrypt: #bae8e8;
  --button-text: #272343;
  --paragraph: #2d334a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
  /* position: relative; */
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
}
.wrapper {
  margin-top: 50px;
  padding: 10px;
  max-width: 960px;
  min-height: 680px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-around;

  .logo {
    width: 100%;
    margin-bottom: 15px;
  }
}
footer {
  width: 100%;
  height: 4rem;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  div {
    width: 300px;
    padding: 3px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  span {
    font-style: italic;
    & a i {
      font-size: 25px;
      color: var(--paragraph);
    }
  }
}
.textbox-container {
  border-radius: 8px;
  width: 100%;
  padding: 5px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  span {
    order: 1;
  }
  .box-decrypt-container{
    width: 40%;
    position: relative;
  }
}

.buttons {
  order: 2;
  width: 100%;
  display: flex;
  height: 4.8rem;
  padding: 8px 5px;
}
.btn {
  width: 50%;
  height: 45px;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 10px;
  font-weight: 500;
  margin: 5px;
  font-size: 1.025rem;
  cursor: pointer;
}
.btn-encrypt {
  background-color: var(--button);
  color: var(--button-text);
}
.btn-decrypt {
  background-color: var(--button-decrypt);
}
.btn-copy {
  position: absolute;
  bottom: 22%;
  right: 10px;
  width: 40px;
  height: 40px;
  color: var(--background);
  background-color: var(--headline);
}
textarea {
  resize: none;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  width: 55%;
  height: 80%;
}
#encrypt-text {
  border: 1px solid #ccc;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 100%;
}

@media screen and (min-device-width: 576px) and (max-device-width: 768px) {
  .wrapper {
    margin-top: 0;
    width: 100%;
    /* max-height: 75%; */
    justify-content: space-between;
  }
  textarea {
    width: 100%;
  }

  .buttons {
    height: 7.5rem;
    order: 0;
  }
  .textbox-container {
    flex-direction: column !important;
    span {
      order: 0;
    }
    .box-decrypt-container{
      width: 100%;
      position: relative;
    }
  }
  .btn-copy{
    bottom: 5%;
  }
  textarea {
    width: 100%;
    height: auto;
  }
  #encrypt-text {
    width: 100%;
    height: 200px;
  }
}
@media screen and (min-device-width: 360px) and (max-device-width: 575px) {
  .wrapper {
    margin-top: 0;
    width: 100%;
    height: 100%;
    max-height: 93%;
    border-radius: 0;

    .textbox-container {
      justify-content: space-between;
      span {
        order: 0;
      }
      &:nth-child(2) {
        font-size: 14px;
      }
      .box-decrypt-container{
        width: 100%;
        position: relative;
      }
    }
  }
  .buttons {
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 7.5rem;
    order: 0;
  }
  .btn {
    width: 100%;
  }
  .btn-copy{
    width: 40px;
    bottom: 22%;
  }
  textarea {
    width: 100%;
    height: auto;
  }
  #encrypt-text {
    width: 100%;
    height: 200px;
  }
}
